In [340]:
import pandas as pd

In [341]:
df = pd.read_csv('data/Colleges_and_Universities.csv')
df = df.set_index('OBJECTID')

In [342]:
def candidate_finder(school_name, df):
    """Returns all schools with the SCHOOL_NAME in the title."""
    return df[[school_name.lower() in s.lower() for s in df['NAME']]]

candidate_finder('UNIVERSITY OF MICHIGAN', df)

,IPEDSID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,TELEPHONE,TYPE,STATUS,...,ALIAS,SIZE_SET,INST_SIZE,PT_ENROLL,FT_ENROLL,TOT_ENROLL,HOUSING,DORM_CAP,TOT_EMP,SHELTER_ID
OBJECTID,,,,,,,,,,,,,,,,,,,,,
898,171137,UNIVERSITY OF MICHIGAN-DEARBORN,4901 EVERGREEN RD,DEARBORN,MI,48128,1491,(313) 593-5000,1,A,...,UM-D,12,3,3649,5681,9330,2,-999,1099,NOT AVAILABLE
1105,170976,UNIVERSITY OF MICHIGAN-ANN ARBOR,503 THOMPSON STREET,ANN ARBOR,MI,48109,NOT AVAILABLE,(734) 764-1817,1,A,...,U OF MICHIGAN|U OF M|UNIV OF MICHIGAN|U MICHIG...,16,5,2485,43517,46002,1,12304,23456,10802823
1369,171146,UNIVERSITY OF MICHIGAN-FLINT,303 E. KEARSLEY STREET,FLINT,MI,48502,1950,(810) 762-3000,1,A,...,UM-FLINT,12,3,3516,4320,7836,1,715,1116,NOT AVAILABLE

In [343]:
teams_and_ids = {
    'AIR FORCE': 5959,
    'AKRON': 3133,
    'ALABAMA': 3001,
    'APPALACHIAN ST.': 1180,
    'ARIZONA': 2761,
    'ARIZONA ST.': 3445,
    'ARKANSAS': 3449,
    'ARKANSAS ST.': 5894,
    'ARMY': 1300,
    'AUBURN': 5207,
    'BALL ST.': 3561,
    'BAYLOR': 3584,
    'BOISE ST.': 3990,
    'BOSTON COLLEGE': 3244,
    'BOWLING GREEN': 3138,
    'BUFFALO': 325,
    'BYU': 5733,
    'CALIFORNIA': 3368,
    'CENTRAL MICHIGAN UNIVERSITY': 4208,
    'CHARLOTTE': 1252,
    'CINCINNATI': 2739,
    'CLEMSON': 3303,
    'COASTAL CAROLINA': 3329,
    'COLORADO': 5948,
    'COLORADO ST.': 484,
    'DUKE': 5030,
    'EAST CAROLINA': 6383,
    'EASTERN MICHIGAN': 3248,
    'FIU': 2527,
    'FAU': 4964,
    'FLORIDA': 2528,
    'FLORIDA ST.': 4123,
    'FRESNO ST.': 5905,
    'GEORIGA SOUTHERN': 5646,
    'GEORGIA': 1682,
    'GEORGIA ST.': 3984,
    'GEORIGA TECH': 2565,
    'HAWAII': 1364,
    'HOUSTON': 3713,
    'ILLINOIS': 5990,
    'INDIANA': 4606,
    'IOWA': 4023,
    'IOWA ST.': 4700,
    'KANSAS': 2586,
    'KANSAS ST.': 3241,
    'KENT ST.': 5146,
    'KENTUCKY': 1011,
    'UL-MONROE': 1209,
    'LIBERTY': 1449,
    'LOUISIANA': 1210,
    'LOUISIANA TECH': 6057,
    'LOUISVILLE': 3808,
    'LSU': 6755,
    'MARSHALL': 5362,
    'MARYLAND': 1098,
    'MASSACHUSETTS': 897,
    'MEMPHIS': 973,
    'MIAMI': 2531,
    'MIAMI OHIO': 3650,
    'MICHIGAN': 1105,
    'MICHIGAN ST.': 3251,
    'MIDDLE TENNESSE': 6350,
    'MINNESOTA': 1687,
    'MISSISSIPPI ST.': 4051,
    'MISSOURI': 1405,
    'NAVY': 1016,
    'NC STATE': 5033,
    'NEBRASKA': 1408,
    'NEVADA': 1409,
    'NEW MEXICO': 1412,
    'NEW MEXICO ST.': 4288,
    'NORTH CAROLINA': 1251,
    'NORTH TEXAS': 3373,
    'NORTHERN ILLINOIS': 1010,
    'NORTHWESTERN': 6018,
    'NOTRE DAME': 5683,
    'OHIO': 5695,
    'OHIO ST.': 3512,
    'OKLAHOMA': 2659,
    'OKLAHOMA ST.': 5536,
    'OLD DOMINION': 980,
    'OLE MISS': 1109,
    'OREGON': 970,
    'OREGON ST.': 2663,
    'PENN ST.': 3275,
    'PITT': 3280,
    'PURDUE': 5166,
    'RICE': 5664,
    'RUTGERS': 307,
    'SAN DIEGO ST.': 6147,
    'SAN JOSE ST.': 6326,
    'SMU': 2719,
    'SOUTH ALABAMA': 1001,
    'SOUTH CAROLINA': 3312,
    'SOUTH FLORIDA': 1325,
    'USC': 6160,
    'SOUTHERN MISS.': 1403,
    'STANFORD': 3239,
    'SYRACUSE': 2695,
    'TCU': 2669,
    'TEMPLE': 3733,
    'TENNESSEE': 4032,
    'TEXAS': 3377,
    'TEXAS A&M': 18,
    'TEXAS ST.': 5668,
    'TEXAS TECH': 3598,
    'TOLEDO': 5613,
    'TROY': 761,
    'TULANE': 1643,
    'TULSA': 2662,
    'UAB': 5202,
    'UCF': 1641,
    'UCLA': 3952,
    'UCONN': 3041,
    'UNLV': 2646,
    'UTAH': 6274,
    'UTAH ST.': 5734,
    'UTEP': 6357,
    'UTSA': 5638,
    'VANDERBILT': 6301,
    'VIRGINIA': 5750,
    'VIRGINIA TECH': 1062,
    'WAKE FOREST': 4348,
    'WASHINGTON': 5355,
    'WASHINGTON ST.': 3384,
    'WEST VIRGINIA': 5765,
    'WESTERN KENTUCKY': 2401,
    'WESTERN MICHIGAN': 3614,
    'WISCONSIN': 5767,
    'WYOMING': 742
}

len(teams_and_ids)

130